{% extends "admin/change_list.html" %}

{% load i18n %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url 'accounts:account_create' %}" class="grp-state-focus addlink" target="_blank">{% translate 'Add User' %}</a>
    </li>
{% endblock %}
