section {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
}

.alert {
    border-radius: 0.25rem;
    margin-bottom: 0.75rem;
    padding: 1rem;
    text-align: center;
}

.alert.success {
    background-color: #00e676;
}

.alert.error {
    background-color: #ef4747;
    color: #fff;
}

.text-centered {
    text-align: center;
}

.content-centered {
    display: flex;
    justify-content: center;
}

.icon.xl {
    height: 16rem;
    width: 16rem;
}

.icon.md {
    height: 12rem;
    width: 12rem;
}

.mt-0 {
    margin-top: 0;
}

.jumbotron {
    margin-top: 2.25rem;
    padding: 2.5rem 1.25rem;
    background-color: #e0e0e0;
    border-radius: 0.25rem;
}
