{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/account_read_private.css' %}">
{% endblock %}

{% block title %}{% translate "My profile" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col m8 offset-m2 l10 offset-l1">

                {% if messages %}
                    {% for message in messages %}
                        {% include "dismissible_alert.html" with message=message %}
                    {% endfor %}
                {% endif %}

                <h1>{{ user.name }}</h1>

                {% if user.invite.sender %}
                    <p>
                        <b>{% translate "Invited by" %}:</b>
                        <a href="{{ user.invite.sender.get_absolute_url }}">{{ user.invite.sender.name }}</a>
                    </p>
                    <p>
                        <b>{% translate "Invited on" %}:</b>
                        {{ user.invite.created_at|date:"F d, Y" }}
                    </p>
                {% endif %}
                <p>
                    <b>{% translate "Joined on" %}:</b>
                    {{ user.created_at|date:"F d, Y" }}
                </p>

                <div class="section">
                    <h2>{% translate "Account" %}</h2>
                    <div class="actions">
                        <a href="{{ user.get_absolute_url }}" class="waves-effect waves-light btn">{% translate "My public profile" %}</a>
                        <a href="{% url 'accounts:account_update'  %}" class="waves-effect waves-light btn">{% translate "Edit my profile" %}</a>
                    </div>
                </div>

                <div class="section">
                    <h2>{% translate "Tokens" %}</h2>
                    <div class="actions">
                        <a href="{% url 'accounts:token_revocation_url_request' %}" class="waves-effect waves-light btn">{% translate "Revoke my tokens" %}</a>
                    </div>
                </div>

                {% if request.user.is_superuser %}
                <div class="section">
                    <h2>{% translate "Invite User" %}</h2>
                    <div class="actions">
                        <a href="{% url 'accounts:account_create' %}" class="waves-effect waves-light btn">{% translate "Invite user" %}</a>
                    </div>
                </div>
                {% endif %}

                <div class="section">
                    <h2>{% translate "Authentication" %}</h2>
                    <div class="actions">
                        <a href="{% url 'accounts:logout' %}" class="waves-effect waves-light btn">{% translate "Logout" %}</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
