{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/account_read_public.css' %}">
{% endblock %}

{% block title %}{% translate "User profile" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col m8 offset-m2 l10 offset-l1">

                {% if messages %}
                    {% for message in messages %}
                        {% include "dismissible_alert.html" with message=message %}
                    {% endfor %}
                {% endif %}
                
                <h1>{{ user.name }}</h1>
                {% if user.invite.sender %}
                    <p><b>Invited by:</b> <a href="{{ user.invite.sender.get_absolute_url }}">{{ user.invite.sender.name }}</a></p>
                {% endif %}
                <p><b>Joined:</b> {{ user.created_at|date:"F Y" }}</p>

                {% if request.user.is_authenticated  and request.user.pk == user.pk %}
                    <div class="actions">
                        <a href="{% url 'accounts:account_update'  %}" class="waves-effect waves-light btn">{% translate "Edit my profile" %}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
