{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/account_create_done.css' %}">
{% endblock %}

{% block title %}{% translate "Invite sent" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col m8 offset-m2">

                {% if messages %}
                    {% for message in messages %}
                        {% include "dismissible_alert.html" with message=message %}
                    {% endfor %}
                {% endif %}

                <div class="icon-holder">
                    <img class="icon md" src="{% static 'img/mark_email_read_black_48dp.svg' %}" alt="">
                </div>

                <h1>{% translate "Invite Sent!" %}</h1>

                <p>{% translate "Please ask the invitee to check their inbox." %}</p>

                <div class="actions">
                    <a href="{% url 'accounts:account_create' %}" class="waves-effect waves-light btn">{% translate 'Invite another person' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
