{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/account_update.css' %}">
{% endblock %}

{% block title %}{% translate "Update account" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col m8 offset-m2">

            <h1>{% translate "Update Your Profile" %}</h1>

            <form method="post">
                {% csrf_token %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {{ form.non_field_errors }}

                <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <input
                        class="validate"
                        id="name"
                        maxlength="{{ form.name.field.max_length }}"
                        name="name"
                        type="text"
                        {% if form.name.value != None %}value="{{ form.name.value|stringformat:'s' }}"{% endif %}
                        required>
                    <label for="name">{% translate "Name" %}</label>

                    {% if form.name.errors %}
                    <ul class="errors">
                        {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="actions">
                    <button class="btn waves-effect waves-light">{% translate "Update Profile" %}</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
