{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/account_create.css' %}">
{% endblock %}

{% block title %}{% translate "Invite user" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col m8 offset-m2">

                <h1>{% translate "Invite User" %}</h1>

                <form method="post">
                    {% csrf_token %}

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    {{ form.non_field_errors }}

                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input
                            class="validate"
                            id="name"
                            maxlength="{{ form.name.field.max_length }}"
                            name="name"
                            type="text"
                            {% if form.name.value != None %}value="{{ form.name.value|stringformat:'s' }}"{% endif %}
                            required>
                        <label for="name">{% translate "Fullname" %}</label>

                        {% if form.name.errors %}
                        <ul class="errors">
                            {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input
                            class="validate"
                            id="email"
                            maxlength="{{ form.email.field.max_length }}"
                            name="email"
                            type="email"
                            {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}
                            required>
                        <label for="email">{% translate "Email" %}</label>

                        {% if form.email.errors %}
                        <ul class="errors">
                            {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div class="actions">
                        <button class="btn waves-effect waves-light"><i class="material-icons left">send</i>{% translate "Send Invite" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
