{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/home.css' %}">
{% endblock %}

{% block title %}{% translate "Home" %} &mdash; {{ block.super }} {% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col m8 offset-m2">
                {% if messages %}
                    {% for message in messages %}
                        {% include "dismissible_alert.html" with message=message %}
                    {% endfor %}
                {% endif %}

                {% if not request.user.is_authenticated %}
                    <h1>Hey there!</h1>
                    <h2>Welcome to {{ request.site.name }}.</h2>
                    <p>Please <a href="{% url 'accounts:site_access_url_request' %}">Log in to your account</a> to continute using {{ request.site.name }}.</p>
                    <p>If you don't have an account yet, please contact the admin to send you an invite.</p>
                    <p>Warm regards,</p>
                    <p>The {{ request.site.name }} Team.</p>
                {% else %}
                    <h1>Hello {{ request.user.name }}!</h1>
                    <h2>Welcome to {{ request.site.name }}.</h2>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
