{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/logout.css' %}">
{% endblock %}

{% block title %}{% translate "Logout" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col m8 offset-m2">

                <h1>{% translate "Logout" %}</h1>

                <form method="post">
                    {% csrf_token %}

                    <div class="actions">
                        <button class="btn waves-effect waves-light">{% translate "Logout" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
