{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/site_access_url_request_done.css' %}">
{% endblock %}

{% block title %}{% translate "Login link sent" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col m8 offset-m2">

                {% if messages %}
                    {% for message in messages %}
                        {% include "dismissible_alert.html" with message=message %}
                    {% endfor %}
                {% endif %}

                <div class="icon-holder">
                    <img class="icon md" src="{% static 'img/vpn_key_black_48dp.svg' %}" alt="">
                </div>
                
                <h1>{% translate "Magic Login Link Sent!" %}</h1>

                <div>
                    {% blocktranslate %}
                    <p>Please check your mail.<br>We've just sent you a magic link to login to this site with your account.</p>
                    <p>Kind wait for up to 4 minutes if you don't get the mail immediately.<br>And don't forget to check your spam while you're at it.</p>
                    {% endblocktranslate %}
                    <div class="jumbotron">
                        {% blocktranslate %}
                        <h2 class="mt-0">Still did not get a mail?</h2>
                        <p>Please confirm that you <em>really</em> have an account on this site with the email you're asking that the magic login link be sent to.</p>
                        {% endblocktranslate %}
                        <div class="actions">
                            <a href="{% url 'accounts:site_access_url_request' %}" class="waves-effect waves-light btn">{% translate "Request magic link, again" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
