{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/token_revocation.css' %}">
{% endblock %}

{% block title %}{% translate "Revoke your tokens" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col m8 offset-m2">

                <h1>{% translate "Revoke Your Tokens" %}</h1>

                <h2><strong>ATTENTION!</strong></h2>

                <p>This action will revoke all your tokens on {{ request.site.name }}. You will be logged out of {{ request.site.name }} on every device you're currently logged in to it on.</p>

                <form method="post">
                    {% csrf_token %}

                    <div class="actions">
                        <button class="btn waves-effect waves-light">{% translate "Revoke" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
