{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/token_revocation_url_request.css' %}">
{% endblock %}

{% block title %}{% translate "Revoke Tokens" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col m8 offset-m2">

            <h1>{% translate "Request Token Revocation Link" %}</h1>

            <p>Please enter your email address below and we will send you a link to where you can revoke your tokens.</p>

            <form method="post">
                {% csrf_token %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {{ form.non_field_errors }}

                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input
                        class="validate"
                        id="email"
                        maxlength="{{ form.email.field.max_length }}"
                        name="email"
                        type="email"
                        {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}
                        required>
                    <label for="email">{% translate "Email" %}</label>

                    {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="actions">
                    <button class="btn waves-effect waves-light"><i class="material-icons left">send</i>{% translate "Send me the Link" %}</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
