{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% translate "Token revocation failed" %} &mdash; {{ block.super }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/token_revocation_failed.css' %}">
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col m8 offset-m2">

                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            {% include "dismissible_alert.html" with message=message %}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="icon-holder">
                    <img class="icon md" src="{% static 'img/error_feedback_black_48dp.svg' %}" alt="">
                </div>

                <h1>{% translate "Token Revocation Failed!" %}</h1>

                <p>{% translate "Your token revocation link is either invalid or expired." %}</p>
                <p>{% translate " Please request a fresh one." %}</p>

                <div class="actions">
                    <a href="{% url 'accounts:token_revocation_url_request' %}" class="waves-effect waves-light btn">{% translate "Request Link" %}</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
