h1,
h2,
p {
    margin-top: 0;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.75rem;
}

.actions {
    margin-top: 1.35rem;
}

.actions a {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 0.4rem;
}

.section {
    padding: 2rem 0;
    margin-top: 1rem;
    border-top: 1px solid #ededed;
}

.section:first-of-type {
    margin-top: 3rem;
}
