h1,
p {
    margin-top: 0;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

.actions,
.icon-holder {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.actions a {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}
