h1,
p {
    margin-top: 0;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.actions {
    margin-top: 1.35rem;
}

.actions a {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 0.4rem;
}
