h1,
form {
    text-align: center;
}

h1 {
    font-size: 2rem;
}

form {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.actions button {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}
