h1,
p {
    text-align: center;
}

h1 {
    font-size: 2rem;
}

form {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

.input-field .errors {
    color: red;
    margin: 0 0 0 3rem;
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.actions button {
    padding-left: 2rem;
    padding-right: 2rem;
}
