h1,
h2,
p {
    margin-top: 0;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

.actions,
.icon-holder {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.actions button {
    padding-left: 2rem;
    padding-right: 2rem;
}
