h1,
h2,
p {
    margin-top: 0;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 0.5rem;
}

.messages {
    margin-bottom: 3.25rem;
}

.actions,
.icon-holder {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.actions a {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
