h1,
h2,
p {
    margin-top: 0;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

form {
    max-width: 520px;
    margin: 1.5rem auto;
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.actions button {
    padding-left: 3rem;
    padding-right: 3rem;
}
